.learning {
    background-color: rgba(255, 90, 91, 0.9);
}

.new {
    background-color: rgba(93, 194, 255, 0.9);
}

.word {
    transition: background-color linear 200ms;
    cursor: pointer;
    /* padding: 3px 2px;
    margin: 0px -2px; */
    margin: 2px 0px;
    border-radius: 10px;
    display: inline-flex;
}

.word:hover {
    background-color: rgba(255, 255, 81, 0.9);
}

#reader-text .underline-red {
    text-decoration: underline red;
}

#reader-text .underline-orange {
    text-decoration: underline orange;
}

#reader-text .underline-yellow {
    text-decoration: underline yellow;
}

#reader-text .underline-green {
    text-decoration: underline green;
}

#reader-text .underline-blue {
    text-decoration: underline blue;
}

#reader-text .underline-purple {
    text-decoration: underline purple;
}

#reader-text .underline-gray {
    text-decoration: underline gray;
}

#reader-text .underline-black {
    text-decoration: underline black;
}
